span {
    color: red;
    transition: all .4s ease-in-out;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

label,
input,
select {
    display: block;
    width: 100%;
    outline: none;
}

label {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

input,
select {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #cc3399;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

button:hover {
    background-color: #d74ca9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span {
    color: red;
    transition: all .4s ease-in-out; 
}