<div class="container">
    <div class="table-responsive">
        <h2 class="text-center">Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ნივთის სახელი</th>
                    <th>ნივთის ადგილმდებარეობა</th>
                    <th>ფასი</th>
                    <th>ოპერაციები</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of pagedItems">
                <tr >
                    <td>{{item}}</td> 
                    <td>{{item}}</td> 
                    <td>{{item}}</td>
                </tr>
                 
            </tbody>
        </table>

    </div>
</div>


<div > </div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
<button [disabled]="page == 1" (click)="setPage(page - 1)">Previous</button>
 
<button [disabled]="page == totalPages" (click)="setPage(page + 1)">Next</button>