.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-item {
    margin-top: 20px;
    background-color: #cc3399;
    color: white;
    border: none;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 6px 12px;
}

.but-cont>div {
    margin-top: 20px;
    display: flex;

}

.but-cont select {
    margin-right: 10px;
}

.but-cont {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
}


.deleteItem {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 14px;
    padding: 6px 12px;
    transition: all .3s ease-in-out;
}

.deleteItem:hover {
    background-color: #cc3399;
    border: 1px solid transparent;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}