<div class="container">
    <div class="table-responsive">
    <h2 class="text-center">Table</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ნივთის სახელი</th>
            <th>ნივთის ადგილმდებარეობა</th>
            <th>ფასი</th>
            <th>ოპერაციები</th>
             
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td> 
          </tr>
          <tr>
            <td>2</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            
          </tr>
          <tr>
            <td>3</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
             
          </tr>
        </tbody>
      </table>
      
      </div>
</div>