<div class="container">
    <button [routerLink]="'/add'">ნივთის დამატება</button>
    <div class="table-responsive">
        <h2 class="text-center">Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ნივთის სახელი</th>
                    <th>ნივთის ადგილმდებარეობა</th>
                    <th>ფასი</th>
                    <th>ოპერაციები</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of items | paginate:{itemsPerPage:10, currentPage:page ,totalItems:items.length}">
                <tr>
                    <td>{{item.ItemName}}</td>
                    <td>
                        <select>
                            <option value="" *ngFor="let l of item.ItemLocation">{{l}}</option>
                        </select>
                    </td>
                    <td>{{item.ItemPrice |currency:"GEL":'symbol-narrow' }}</td>
                    <td><button>DELETE</button></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>


<div class="pagination"> 
<pagination-controls (pageChange)="page = $event"></pagination-controls> 
<p >TOTAL : {{lengthOfArr}}</p>
</div>